{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "airbnb-base",
    "plugin:@typescript-eslint/recommended",
    "prettier/@typescript-eslint",
    "plugin:prettier/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "env": {
    "node": true
  },
  "rules": {
    "import/prefer-default-export": 0,
    "@typescript-eslint/no-explicit-any": 0
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".ts"]
      }
    }
  },
  "overrides": [
    {
      "files": ["**/*.test.ts"],
      "env": {
        "jest": true
      }
    }
  ]
}
